[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
pymysql = "*"
pandas = "*"
bs4 = "*"
django = "==3"
mysqlclient = "*"
django-cors-headers = "*"
wordcloud = "*"
jieba = "*"
requests = "*"
lxml = "*"
selenium = "*"
django-cookies-samesite = "*"
django-extensions = "*"
django-werkzeug-debugger-runserver = "*"
pyopenssl = "*"
to = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.10"
